/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */
@font-face {
	font-family: 'Baskerville';
	src: url('.../fonts/Baskerville.ttc');
}

h1 {
	font-family: 'Baskerville', serif;
	font-size: 5em;
	padding-bottom: 10px;
	margin-bottom: 5px;
	border-bottom: 1px solid #ccc;
}
header {
	color: rgb(152, 173, 166);
}

#featured img {
	border: 5px solid rgb(152, 173, 166);
}

h2 {
	color: rgb(111, 127, 122);
	font-size: 2em;
}

#press img {
	border: 5px solid rgb(204, 204, 204);
	padding: 1px;
}

#press img:hover {
	border: 5px rgb(111,127,122) solid;
}
/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
	margin: 0 auto;
}

.wrapper {
	width: 960px;
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	background: #fff;
	padding: 0 45px 20px;
}

div {
	display: block;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: auto; }

footer p {
	text-align: right;
	font-size: 0.8em;
}
/* Write all remaining styles here */
